{% extends "base.html.twig" %}

{% block title %}Cards{% endblock %}

{% block body %}
    <h1 style="margin-top:1em">Show deck!</h1>
    <div class="two-col-layout">
        <article class=article>
            <div class="full-deck">
                    {% for card in cardDeck %}
                    {% if card[6:7] > 52 and card[6:7] < 84 %}
                        <div class="deck-card" style="color: red">{{ card |raw }}</div>
                    {% else %}
                        <div class="deck-card" >{{ card |raw }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </article>

        <aside class="aside">
            <ul>
                <li><a href="{{path ('card_deck') }}">Show deck</a></li>
                <li><a href="{{path ('card_deck_shuffle') }}">Shuffle deck</a></li>
                <li><a href="{{path ('card_deck_draw') }}">Draw one card</a></li>
                <li><a href="{{path ('card_draw_hand', {num: 5}) }}">Draw 5 cards</a></li>
            </ul> 
        </aside>
    </div>

{% endblock %}