{% extends "base.html.twig" %}

{% block title %}Cards{% endblock %}

{% block body %}
    <h1 style="margin-top:1em">Result of the game:</h1>
        <article class=article>
            <div class="full-deck">
                {% for card in hand %}
                    {% if card[6:7] > 52 and card[6:7] < 84 %}
                        <div class="deck-card" style="color: red">{{ card |raw }}</div>
                    {% else %}
                        <div class="deck-card" >{{ card |raw }}</div>
                    {% endif %}
                {% endfor %}

            <p>The bank got {{sum}} and you got {{player}}.
            <p>You've won {{wonPlayer}} times and the bank have won {{ wonBank}} times. </p>

            </div>
            <form method="post" action="">
    <p>
        <input type="submit" name="new_round" value="New round"
            onClick="this.form.action='{{ path('game_play_get') }}';
            this.form.method='get';"
        >
        <input type="submit" name="restart" value="Restart"
            onClick="this.form.action='{{ path('game_init_get') }}';
            this.form.method='get';"
        >

    </p>
</form>


        </article>
{{ include('game/flash.html.twig') }}

   
{% endblock %}