<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width">
        <title>{% block title %}Adventure-game{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="game-body">
    <header class="game-header" style="background-image: url({{asset('img/green.jpg')}})">
        <div class="game-site-title">My Symfony Site</div>
        <nav class="game-nav">
            <ul>
                <li><a href="{{ path('me') }}">Me</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('project_get') }}">Start Game</a></li>
                <li><a href="{{ path('api_project_get') }}">API</a></li>
                <li><a href="{{ path('project_about') }}">About</a></li>
            </ul>
        </nav>
    </header>
        {% block body %}{% endblock %}
    <div class="game-footer">
        <div></div>
        <div class="copyright">
            <p>Denna sidan är Copyright &copy; av Mariarut.</p>
        </div>
        <div>
            <a href="https://github.com/Mariarut14/mvcReport" title="mitt github-repo" ><img src="{{ asset('img/github.svg') }}" alt="github-ikon"></a>
        </div>
    </div>
    </body>
</html>
